PORT=YOUR_API_PORT
ALLOWED_ORIGINS=YOUR_FRONTEND_URL
DB_HOST=YOUR_DB_HOST
DB_USER=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_PORT=YOUR_DB_PORT
DB_NAME=YOUR_DB
ACCESS_TOKEN_SECRET=YOUR_SECRET_TOKEN
REFRESH_TOKEN_SECRET=YOUR_SECRET_TOKEN
NODE_ENV=development